/main.lua~
/soldierAndWizard/dialogs/elderDialog.lua~
/soldierAndWizard/objects/folks.lua~
/soldierAndWizard/objects/wizardGrave.lua~
/soldierAndWizard/objects/wizardInGrave.lua~
/soldierAndWizard/rooms/nearWizardGraveFinalScene.lua~
/soldierAndWizard/rooms/willage.lua~
